name: JMeter Load Test

on:
  workflow_dispatch:
    inputs:
      users:
        description: "Number of users"
        required: true
        default: "10"
      duration:
        description: "Duration in seconds"
        required: true
        default: "60"

jobs:
  load-test:
    runs-on: self-hosted   # твой локальный раннер на Windows

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run JMeter test
        run: |
          mkdir results
          jmeter -n -t jmeter/test.jmx -Jusers=${{ github.event.inputs.users }} -Jduration=${{ github.event.inputs.duration }} -l results/results.jtl -j results/jmeter.log -e -o results/report

      - name: Upload JMeter results
        uses: actions/upload-artifact@v4
        with:
          name: jmeter-results-${{ github.run_number }}
          path: results/
          retention-days: 7
